<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="main">
    <h2 th:text="${generatorName}"></h2>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>관리번호</th>
                <th>설치일</th>
                <th>용량</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row,stat:${list}">
                <td th:text="*{stat.count}"></td>
                <td>
                    <a th:text="*{row.sourceSn}"
                       th:href="@{/detail(id=${row.sourceId})}">
                    </a>
                </td>
                <td th:text="*{row.installedAt}"></td>
                <td th:text="*{row.maxCapacity} + 'KWh'"></td>
                <td th:text="*{row.createdAt}"></td>
            </tr>
        </tbody>
    </table>
</div>
</html>